.column-name {
	width: 50%;
}

.n-a {
	color: #a94442;
	display: block;
	text-align: center;
	text-transform: lowercase;
}

.cell-values {
	color: #3c763d;
	text-align: right;
}

.rabbit {
	background-image: url(../img/rabbit.png);
	height: 16px;
	width: 16px;
	display: block;
	margin: 5px auto;
}

.turtle {
	background-image: url(../img/turtle.png);
	height: 16px;
	width: 16px;
	display: block;
	margin: 5px auto;
}

.event-logo {
	img {
		max-width: 150px;
		margin-top: 24px;
	}
}